<table class="infotbl">
	<tr>
    	<td><img style="width:124px; height:166px" src="{IMAGE}" /></td>
        <td>
        	<table class="infotbl">
				<tr>
                    <td colspan="2">{AUTHOR}</td>
                </tr>
				<tr>
                    <td colspan="2" height="100%" style="text-align:justify">{TITLE}</td>
                </tr>
				<tr>
                	<td width="100%">N. Pagine:</td>
                	<td>{PAGES}</td>
                </tr>
				<tr>
                	<td>Anno:</td>
                	<td>{YEAR}</td></tr>
			</table>
        </td>
    </tr>
</table>
