<br /><br />
<div align="center"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- Polibooks --><ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-0118300150570717" data-ad-slot="3382767283"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>

</div>		
</div>
        <div id="blackbg" onclick="hidepopup();"></div>
		<div id="msgpop">
			<div id="msgcont">
                <h2 id="msgtit"></h2>
				<div id="msgtext"></div>				
			</div>
		</div>
		<br />
		<br /><br />
		<div class="copybar">{LANG_COPYRIGHT}</div>


		<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-44749656-1', 'polibooks.it'); ga('send', 'pageview');</script>
	</body>
</html>
