<div style="width: 750px; text-align: justify; size: 11px; margin-left: auto; margin-right: auto;">
State visitando il sito internet www.polibooks.it . Consigliamo vivamente di leggere attentamente il presente documento presentante i termini e le condizioni di navigazione prima di usufruire del servizio. Eseguendo l'accesso e utilizzando il Sito, si accettano incondizionatamente e irrevocabilmente le sue Condizioni di Utilizzo.
L'utente dichiara di possedere i diritti e la capacità giuridica per utilizzare il Sito in conformità con le Condizioni di Utilizzo.

<b>Modifica dei Termini</b>
Ci riserviamo il diritto di modificare le Condizioni di Utilizzo del Sito in qualsiasi momento e senza alcun preavviso. I termini modificati diventano effettivi una volta pubblicati e non avranno alcun effetto retroattivo su disposizioni contrattuali precedentemente stipulate. L'utente che continua a utilizzare il Sito una volta apportate le modifiche accetta implicitamente le Condizioni di Utilizzo modificate.

<b>Modifiche al Sito</b>
Il sito potrebbe essere modificato in qualsiasi momento senza alcun preavviso.


<h3>Diniego di garanzia e limitazione di responsabilità</h3>
<b>Informazioni generali</b>
L'accesso e l'utilizzo di software e altro materiale su o tramite il presente sito è a rischio esclusivo dell'utente. Non si garantisce alcuna affidabilità, stabilità o assenza di virus relativamente a tale software e/o sito.
Lo staff si impegna, comunque, a limitare la frequenza e la durata di periodi di off-line.

<b>Diniego di garanzia</b> 
Nella misura massima consentita dalla legge in vigore, si declinano tutte le garanzie relative alle informazioni, ai prodotti e ai servizi pubblicati da terzi sul sito.

<b>Limitazione di responsabilità</b>
Fatto salvo il caso di dolo o colpa grave, lo staff non sarà in alcun caso responsabile per qualsiasi danno diretto, straordinario, indiretto, incidentale, consequenziale (inclusa, ma senza limitazione, la perdita di guadagno o utile) risultante da:
(I) Accesso o utilizzo del sito, ritardo, impossibilità di utilizzare il sito o qualsiasi altra informazione pubblicatavi da inserzionisti terzi sul sito; 
(II) Disponibilità e utilità di prodotti e servizi pubblicizzati o messi in vendita da inserzionisti terzi sul sito. 
Tutti i diritti non espressamente concessi sono riservati.

<b>Link a siti Web di terze parti e Video</b>
Link e collegamenti di terze parti vengono inclusi a solo vantaggio dell'utente. L'utente si assume la piena responsabilità per l'utilizzo di link e collegamenti forniti da terze parti.

<b>Limitazioni di utilizzo</b> 
L'utente accetta di utilizzare il sito esclusivamente per usufruire dei servizi offerti.
L'utente accetta di non abusare del sito. Gli "abusi" includono, senza limitazione, l'utilizzo del sito per:

- Calunnia, molestia, persecuzione, minaccia, abuso o altra violazione dei diritti stabiliti dalla legge.

- Qualsiasi danno o interferenza alle attività di computer e software altrui, inclusi, senza limitazione, il caricamento, il download o la trasmissione di file corrotti o di virus.

- Violazioni relative a proprietà intellettuale, pubblicità o diritti sulla privacy, inclusi, senza limitazione, il caricamento, il download o la trasmissione di materiali o software.

- Omissioni o rappresentazioni errate di origine e diritti su file durante il caricamento o il download, inclusi, senza limitazione, l'omissione di linguaggi proprietari, informazioni su autore, licenza, copyright e marchio di registrazione. 

- Trasmissione, pubblicazione o altra divulgazione di segreti commerciali o qualsiasi altro materiale o informazione proprietari confidenziali o protetti.

- Download o caricamento di file la cui distribuzione sul sito risulti illegale. 

- Trasmissione di informazioni o software ottenuti dal sito o copia, creazione, visualizzazione, distribuzione, licenza, esecuzione, pubblicazione, ricreazione, riproduzione, vendita o trasferimento di materiale proveniente dal sito stesso.

- Carico eccessivo dell'infrastruttura del sito. 

- Utilizzo fraudolento di password o numero ID durante l'accesso al sito o dissimulazione dell'identità di terzi o dell'autorizzazione ad agire in vece di terzi.

- Violazione delle Condizioni di Utilizzo del sito secondo qualsiasi altra modalità.


<b>Informazioni su copyright e marchi registrati</b>

Tutti i contenuti del sito: Copyright ©Polibooks. Tutti i diritti riservati.
L'utente non è autorizzato modificare, copiare, trasmettere, visualizzare, eseguire, riprodurre, pubblicare, autorizzare, creare materiale proveniente da trasferimento o vendita di informazioni, software, prodotti o servizi ottenuti sul sito.
</div>
