<div align="center">
	Aiutaci a diffondere Polibooks e noi aiuteremo te!<br />
	Polibooks utilizza un sistema di crediti per premiare gli utenti che lo pubblicizzano.<br />
	<br />
	<b>Come funziona?</b><br />
	<input type="text" value="{LINK}" style="width: 300px;" readonly /><br />
	Questo che vedi &egrave; il tuo <i>Link</i>. Se una persona si iscrive a Polibooks<br />
	tramite questo link, tu guadagnerai crediti.<br />
	<br />
	Pi&ugrave; crediti hai, pi&ugrave; in alto appare il tuo libro appena una persona lo cerca.<br />
	Un utente appena registrato ottiene 15 crediti se si iscrive tramite il <i>Link</i> passato da un amico<br />
	o 10 crediti se si iscrive senza <i>Link</i>.<br />
	<br />
	<b>Quanti crediti ho ora?</b><br />
	Attualmente hai: <b>{CREDITS}</b> crediti.<br />
	<br />
	Ti ringraziamo per l'aiuto e ti auguriamo un buono &laquo;scambio&raquo;!<br />
</div>
