<form role="form" action="?" method="post" style="max-width: 350px; margin: 0 auto;">
    <h3>Dati visibili dagli acquirenti</h3>
    <div class="form-group">
        <label class="control-label" for="name">Nome</label>
        <input class="form-control" type="text" name="name" value="{NAME}">
    </div>
    <div class="form-group">
        <label class="control-label" for="surname">Cognome</label>
        <input class="form-control" type="text" name="surname" value="{SURNAME}">
    </div>
    <div class="form-group">
        <label class="control-label" for="gender">Sesso</label>
		<select name="gender" class="form-control">
			<option value="0" {GENDER_UNKNOWN}>Non specificato</option>
			<option value="m" {GENDER_MALE}>Uomo</option>
			<option value="f" {GENDER_FEMALE}>Donna</option>
		</select>
    </div>
    
    <label>Quali sedi puoi raggiungere?</label>
    {CAMPUS_OPTIONS}

    <label>Quali contatti rendi disponibili?</label>
    <div class="form-group">
        <div class="checkbox-inline">
            <label>
            <input type="checkbox" name="use_email" value="true" {USE_EMAIL}>
            {LANG_EMAIL}
            </label>
        </div>
        <input class="form-control" type="text" name="email" placeholder="Inserisci qui la tua Email" value="{EMAIL}">
    </div>
    
    <div class="form-group">
        <div class="checkbox-inline">
            <label>
            <input type="checkbox" name="use_phone" value="true" {USE_PHONE}>
            {LANG_PHONE}
            </label>
        </div>
        <input class="form-control" type="text" name="phone" placeholder="Inserisci qui il tuo numero di telefono" value="{PHONE}">
    </div>

    <div class="form-group">
        <div class="checkbox-inline">
            <label>
            <input type="checkbox" name="use_fb" value="true" {USE_FBPROFILE}>
            {LANG_FBPROFILE}
            </label>
        </div>
    </div>
    
    <button type="submit" name="save" class="btn btn-lg btn-primary btn-block">Salva</button>
</form>
