<div id="newbookform" align="center">
<table class="showtbl">
	<tr height="100%"><td colspan="2" valign="top" style="text-align:justify; padding-left:15px; padding-right:15px">Il tuo libro non è presente nel nostro database, aiutaci a migliorare il servizio completando i campi di descrizione</td></tr>
    <tr><td style="text-align:right">Titolo</td><td width="100%"><input id="new_title" name="new_title" onblur="checkISBN();" onkeyup="checkISBN();"/></td></tr>
    <tr><td style="text-align:right">Autore</td><td width="100%"><input id="new_author" name="new_author" onblur="checkISBN();" onkeyup="checkISBN();"/></td></tr>
    <tr><td style="text-align:right">N. Pagine</td><td width="100%"><input id="new_pages" name="new_pages" onblur="checkISBN();" onkeyup="checkISBN();"/></td></tr>
    <tr><td style="text-align:right">Anno di pubblicazione</td><td width="100%"><input id="new_year" name="new_year" onblur="checkISBN();" onkeyup="checkISBN();"/></td></tr>
<!--    <tr><td><input id="new_thumb" /></td></tr> -->
</div>
