<div style="width: 750px; text-align: justify; size: 11px; margin-left: auto; margin-right: auto;">
Questa Applicazione raccoglie alcuni Dati Personali dei propri Utenti.

<b>Tipologie di Dati raccolti</b>
Il Titolare non fornisce una lista di tipologie di Dati Personali raccolti.

Altri Dati Personali raccolti potrebbero essere indicati in altre sezioni di questa privacy policy o mediante testi informativi visualizzati contestualmente alla raccolta dei Dati stessi. I Dati Personali possono essere inseriti volontariamente dall'Utente, oppure raccolti in modo automatico durante l'uso di questa Applicazione. L'eventuale utilizzo di Cookie - o di altri strumenti di tracciamento - da parte di questa Applicazione o dei titolari dei servizi terzi utilizzati da questa Applicazione, ove non diversamente precisato, ha la finalità di identificare l'Utente e registrare le relative preferenze per finalità strettamente legate all'erogazione del servizio richiesto dall'Utente. Il mancato conferimento da parte dell'Utente di alcuni Dati Personali potrebbe impedire a questa Applicazione di erogare i propri servizi.

L'Utente si assume la responsabilità dei Dati Personali di terzi pubblicati o condivisi mediante questa Applicazione e garantisce di avere il diritto di comunicarli o diffonderli, liberando il Titolare da qualsiasi responsabilità verso terzi.

<b>Modalità e luogo del trattamento dei Dati raccolti</b>

<i>Modalità di trattamento</i>
Il Titolare tratta i Dati Personali degli Utenti adottando le opportune misure di sicurezza volte ad impedire l'accesso, la divulgazione, la modifica o la distruzione non autorizzate dei Dati Personali. L'accesso ai Dati potrebbe essere disponibile a Responsabili del Trattamento, come dipendenti coinvolti nel trattamento, o a soggetti esterni che forniscono servizi al Titolare, fornitori di servizi tecnici terzi, corrieri postali, hosting provider, società informatiche, agenzie di comunicazione. L'elenco aggiornato dei soggetti potrà sempre essere richiesto al Titolare del Trattamento.

<i>Luogo</i>
I Dati sono trattati presso la sede del Titolare del Trattamento, salvo quanto altrimenti specificato nel resto del documento.

<i>Tempi</i>
I Dati sono trattati per il tempo necessario allo svolgimento del servizio richiesto dall'Utente, o richiesto dalle finalità descritte in questo documento, e l'Utente può sempre chiedere l'interruzione del Trattamento o la cancellazione dei Dati.

<b>Finalità del Trattamento dei Dati raccolti</b>
I Dati dell'Utente sono raccolti per consentire all'applicazione di fornire i propri servizi, così come per le seguenti finalità: Accesso agli account su servizi terzi e Registrazione ed autenticazione.

Le tipologie di Dati Personali utilizzati per ciascuna finalità sono indicati nelle sezioni specifiche di questo documento.

<b>Permessi Facebook richiesti da questa Applicazione</b>

Questa Applicazione può richiedere alcuni permessi Facebook che le consentono di eseguire azioni con l'account Facebook dell'Utente e di raccogliere informazioni, inclusi Dati Personali, da esso. Per maggiorni informazioni sui permessi che seguono, fai riferimento alla documentazione dei permessi Facebook ed alla privacy policy di Facebook.

I permessi richiesti sono i seguenti:

<i>Informazioni di base</i>

Le informazioni di base dell'Utente registrato su Facebook che normalmente includono i seguenti Dati: id, nome, immagine, genere e lingua di localizzazione ed, in alcuni casi gli "Amici" di Facebook. Se l'Utente ha reso disponibili pubblicamente Dati ulteriori, gli stessi saranno disponibili.

<i>Email</i>

Fornisce accesso all'indirizzo email primario dell'utente

<i>Email di contatto</i>

Permette di accedere all'indirizzo email di contatto dell'utente.

<b>Dettagli sul trattamento dei Dati Personali</b>

I Dati Personali sono raccolti per le seguenti finalità ed utilizzando i seguenti servizi:

* Accesso agli account su servizi terzi

* Registrazione ed autenticazione

<b>Ulteriori informazioni sul trattamento</b>

<i>Difesa in giudizio</i>

I Dati Personali dell'Utente possono essere utilizzati per la difesa da parte del Titolare in giudizio o nelle fasi propedeutiche alla sua eventuale instaurazione, da abusi nell'utilizzo della stessa o dei servizi connessi da parte dell'Utente.

<i>Informative specifiche</i>

In aggiunta alle informazioni contenute in questa privacy policy, questa Applicazione potrebbe fornire all'Utente delle informative contestuali riguardanti servizi specifici, o la raccolta ed il trattamento di Dati Personali.

<i>Log di sistema e manutenzione</i>

Per necessità legate al funzionamento ed alla manutenzione, questa Applicazione e gli eventuali servizi terzi da essa utilizzati potrebbero raccogliere Log di sistema, ossia file che registrano le interazioni e che possono contenere anche Dati Personali, quali l'indirizzo IP utente

<i>Informazioni non contenute in questa policy</i>

Maggiori informazioni in relazione al trattamento dei Dati Personali potranno essere richieste in qualsiasi momento al Titolare del Trattamento utilizzando le informazioni di contatto.

<i>Esercizio dei diritti da parte degli Utenti</i>

I soggetti cui si riferiscono i Dati Personali hanno il diritto in qualunque momento di ottenere la conferma dell'esistenza o meno degli stessi presso il Titolare del Trattamento, di conoscerne il contenuto e l'origine, di verificarne l'esattezza o chiederne l'integrazione, la cancellazione, l'aggiornamento, la rettifica, la trasformazione in forma anonima o il blocco dei Dati Personali trattati in violazione di legge, nonché di opporsi in ogni caso, per motivi legittimi, al loro trattamento. Le richieste vanno rivolte al Titolare del Trattamento.

<i>Modifiche a questa privacy policy</i>

Il Titolare del Trattamento si riserva il diritto di apportare modifiche alla presente privacy policy in qualunque momento dandone pubblicità agli Utenti su questa pagina. Si prega dunque di consultare spesso questa pagina, prendendo come riferimento la data di ultima modifica indicata in fondo. Nel caso di mancata accettazione delle modifiche apportate alla presente privacy policy, l'Utente è tenuto a cessare l'utilizzo di questa Applicazione e può richiedere al Titolare del Trattamento di cancellare i propri Dati Personali. Salvo quanto diversamente specificato, la precedente privacy policy continuerà ad applicarsi ai Dati Personali sino a quel momento raccolti.

<i>Informazioni su questa privacy policy</i>

Il Titolare del Trattamento dei Dati è responsabile per questa privacy policy, redatta partendo da moduli predisposti da Iubenda e conservati sui suoi server. 
</div>
