<div align="center">
<table width="100%" style="font-size:10px">
	<tr>
    	<td>
			<table height="166px">
				<tr>
    				<td><img style="width:124px; height:166px" src="{IMAGE}" /></td></td>
					<td>
						<table class="showtbl">
							<tr><td>Titolo:</td><td style="text-align:justify;">{TITLE}</td></tr>
							<tr><td>Autore:</td><td>{AUTHOR}</td></tr>
		    	            <tr><td>Isbn10:</td><td>{ISBN10}</td></tr>
        			        <tr><td>Isbn13:</td><td>{ISBN13}</td></tr>
							<tr><td>Anno:</td><td>{YEAR}</td></tr>
                            <tr><td>Prezzo:</td><td>{PRICE}</td></tr>
							<tr><td>Qualità:</td><td>{QUALITY}</td></tr>
							<tr><td>Venduto a:</td><td>{WHERE}</td></tr>
						</table>
	    			</td>
				</tr>
			</table>
        </td>
	</tr>
	{NOTES}
	<tr>
    	<td colspan="2" class="sbtit">Informazioni sul venditore</td>
    </tr>
    <tr>
    	<td>
			<table class="showtbl" align="center">
				{PUBUSER}
				{PUBDATE}
        		{EMAIL_BUTTON}
    			{PHONE_BUTTON}
				{FB_BUTTON}
				{LOGIN_PLEASE}
			</table>
		</td>
	</tr>
</table>
</div>
