<tr>
	<td class="main">
	<table class="maintable">
		<tr>
			<td style="text-align: center;"><h3>{TITLE}</h3></td>
		</tr>
		<tr><td><div class="maintd">{MAIN}<br />
<div align="center"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- Polibooks --><ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-0118300150570717" data-ad-slot="3382767283"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>
		</td></tr>
	</table>
	</td>
</tr>
