<p>PoliBooks è un sito creato da alcuni studenti del Politecnico di Milano per cercare di semplificare e migliorare la comunicazione per la rivendita dei libri.
</p><br>

<p><span class="lead">Scopo del sito</span><br>
Il nostro servizio è atto a consentire un prezzo e un guadagno equo da parte degli acquirenti e dei venditori senza intermediari fisici. L'inesistenza di una piattaforma efficiente, indipendente e centralizzata ha reso sempre molto difficoltosa la vendita dei libri. L'obiettivo è quello di diventare la prima piattaforma italiana per la vendita di libri e un punto di riferimento per tutte le università.</p><br>

<p><span class="lead">Contattaci</span><br>
Se hai suggerimenti, critiche o hai trovato un bug, puoi contattarci al seguente recapito: <a href="mailto:info@polibooks.it">info@polibooks.it</a>.</p>
